@model ProjetoFinalMariaE.Models.TipoProcedimento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>TipoProcedimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPrecedimentoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPrecedimentoNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">voltar para a lista</a>
</div>
