html, body, div, h1, h2, h3 {
    margin: 0;
    margin-left: 10px;
    padding: 0%;
    border: 0;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
}

.informações {
    margin-top: 40px;
    border: 2px solid black;
}

.informação {
    margin-top: 36px;
    float: right;
    width: 60%;
}

.paciente {
    margin-top: 40px;
    display: flex;
    width: 100%;
}

.informação-paciente {
    width: 40%;
}

.testecovid {
    margin-top: 40px;
}

.logo > img {
    height: 100px;
    width: 100px;
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-items: center;
}
