main, div {
    border: 0;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    text-decoration: none;
    font-family: Courier New, Courier, monospace;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Courier New, Courier, monospace;
}

img {
    width: 75px;
}

biomed {
    margin-top: -91px;
    margin-left: 73px;
}

.box {
    background-color: #67E073;
    width: 30%;
    height: 450px;
    margin-top: 150px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    border: 3px solid #35A73C;
    align-items: center;
}

.box h1 {
    text-align: center;
    color: antiquewhite;
    margin-top: 20px;
}

.form-input {
    margin-top: 9px;
    margin-left: 60px;
}

.form-input label {
