html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.menu {
    background-color: #85E68C;
}
.rodape {
    background-color: #85E68C !important;
}
.logo-img {
    width: 75px;
}

.logo-img img {
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}