@model ProjetoFinalMariaE.Models.LocalRealizacao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>tem certeza que deseja deletar isso?</h3>
<div>
    <h4>LocalRealizacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">voltar para a lista</a>
    </form>
</div>
