@model ProjetoFinalMariaE.Models.LocalRealizacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>LocalRealizacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LocalNome" class="control-label"></label>
                <input asp-for="LocalNome" class="form-control" />
                <span asp-validation-for="LocalNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeId" class="control-label"></label>
                <select asp-for="CidadeId" class="form-control" asp-items="ViewBag.CidadeId"></select>
                <span asp-validation-for="CidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
